@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');                

body, html {
    height: 100%;
    margin: 0;
}

body{
    background-image: url("media/background.jpg");
    background-size: 50%;
    height: 100%; 
    background-repeat: no-repeat;
    background-color: black;
}

.main-header{
    font-family: 'Helvetica Neue';
    font-weight: 100;

    color: white;

    text-align: center;
    text-shadow: 3px 3px 8px rgb(225, 225, 225);
}

.single-project{
    width: 350px;
    height: 200px;

    box-shadow: 5px 5px 5px white;

    margin: auto;
    margin-bottom: 50px;
}

.single-project-url{
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 25px;

    color: rgb(255, 255, 255);

    text-shadow: 3px 3px 8px rgb(225, 225, 225);

    text-decoration: none;
}

@keyframes image-blur {
    0% {filter: blur(0px);}
    50% {filter: blur(2px);}
    100% {filter: blur(4px);}
}

.single-project-image{
    width: 350px;
    height: 200px;
}

.single-project-image:hover{
    animation: image-blur 1s;
    filter: blur(4px);
}

.spotify-link{
    width: 200px;
    height: 200px;

    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 30px;

    color: rgb(255, 255, 255);

    text-shadow: 3px 3px 8px rgb(225, 225, 225);

    text-decoration: none;


    margin: auto;
    margin-top: 100px;
}

.spotify-logo{
    width: 75px;
    height: 75px;
    display: block;
    margin:auto;
    margin-bottom: 10px;
}

.spotify-logo:hover{
    animation: image-blur 1s;
    filter: blur(4px);
}