@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');                

@keyframes blur-in {
    0% {filter: blur(0px);}
    100% {filter: blur(4px);}
}

@keyframes blur-out {
    0% {filter: blur(4px);}
    100% {filter: blur(0px);}
}

.center{
    text-align: center;
}

body{
    background-color: black;
}

.main-header{
    font-family: 'Helvetica Neue';
    font-weight: 100;

    color: white;

    text-align: center;
    text-shadow: 3px 3px 8px rgb(225, 225, 225);
}

.single-project{
    width: 300px;
    height: 175px;

    box-shadow: 5px 5px 5px white;
    border-radius: 3px;

    margin: auto;
    margin-bottom: 50px;
}

.single-project-url{
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 25px;

    color: rgb(255, 255, 255);

    text-shadow: 3px 3px 8px rgb(225, 225, 225);

    text-decoration: none;
}

.single-project-image{
    width: 300px;
    height: 175px;
    display: block;
    border-radius: 2px;
    margin-bottom: 5px;
    
    animation: blur-out 1s;
}

.single-project-image:hover{
    animation: blur-in 1s;
    filter: blur(4px);
}

.single-link{
    width: 200px;
    height: 200px;

    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 30px;

    color: rgb(255, 255, 255);

    display: inline-block;

    text-shadow: 3px 3px 8px rgb(225, 225, 225);

    text-decoration: none;
    text-align: center;
}

.link-logos{
    width: 75px;
    height: 75px;
    display: block;
    margin:auto;
    margin-bottom: 10px;

    animation: blur-out 1s;
}

.link-logos:hover{
    animation: blur-in 1s;
    filter: blur(4px);
}

h3{
    font-family: 'Helvetica Neue';
    font-weight: 300;
    font-size: 25px;

    color: white;

    text-align: center;
    text-shadow: 3px 3px 8px rgb(225, 225, 225);
}

.space{
    margin-top: 100px;
}

hr{
    margin-top: 50px;
    width: 350px;
}