@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

@keyframes blur-in {
    0% {filter: blur(0px);}
    100% {filter: blur(4px);}
}

@keyframes blur-out {
    0% {filter: blur(4px);}
    100% {filter: blur(0px);}
}

body {
    background-color: black;
}

.header217 {
    font-family: 'Helvetica Neue';
    font-weight: 700;
    font-size: 35px;

    color: white;
    text-align: center;
    text-shadow: 3px 3px 8px rgb(225, 225, 225);

    text-decoration: none;

    margin-bottom: 30px;
}

.single-element {
    width: 300px;
    height: 175px;
    display: inline-block;

    /*box-shadow: 0 0 2px 2px rgb(100, 100, 100);*/
    border-radius: 3px;

    vertical-align: middle;

    margin-right: 10px;
    margin-top: 15px;
}

.single-picture {
    width: 300px;
    height: 175px;

    border-radius: 3px;

    animation: blur-out 1s;
}

.single-picture:hover {
    animation: blur-in 1s;
    filter: blur(4px);
}